<div class="home fade-in">
  <div class="home__contenedor">
    <div class="home__principal">
      <div class="home__principal-contenedor">
        <div class="text-title">
          <h3 class="title">Administre su dinero y realice un seguimiento de sus gastos</h3>
          <p class="parrap">
            FinanzAr es una aplicación de finanzas personales que combina un
            registro de chequera digital y un rastreador de facturas en una
            aplicación optimizada. Administre su dinero sin esfuerzo, realice un
            seguimiento de sus gastos, reciba recordatorios de facturas
            oportunos y más.
          </p>
          <button class="button">Empezar</button>
        </div>
        <div>
          <img
            src="https://assets-global.website-files.com/6455bb365e4a439e59c71b72/64b30a2e605b77f625a0bfe0_hero-new.png"
           
            class="img"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="home__inferior">
    <app-optimize></app-optimize>
    <app-details></app-details>
  </div>
</div>
